@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
}

.section__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.section__list {
  width: 692px;
  height: 21.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 80px;
  margin-bottom: 40px;
  margin-top: 60px;
}

.section__btn {
  width: 35px;
  height: 34px;
  background-image: url(../../img/ciziq.png);
  background-repeat: no-repeat;
  border: none;
  display: none;
}

.section__linkk {
  color: #282b22;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.section__link {
  color: #3d4a39;
  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.section__img {
  width: 122px;
}

.section__img1 {
  width: 22px;
}

.section__img2 {
  width: 10px;
}

@media only screen and (max-width: 928px) {
  .section__list {
    display: none;
  }
  .section__btn {
    display: inline-block;
  }
}

@media only screen and (max-width: 424px) {
  .section__pegi {
    width: 122px;
  }
}

.page__content {
  text-align: center;
  max-width: 1500px;
  height: 678px;
  background-image: url(../../img/usta.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.page__title {
  color: white;
  font-family: Lato;
  font-size: 56px;
  font-weight: 700px;
}

.page__text {
  color: white;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500px;
  opacity: 0.8;
  margin-bottom: 23px;
  margin-top: 20px;
  text-align: center;
}

.page__btn {
  color: white;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700px;
  border: none;
  padding: 17px 42px;
  background-color: #ae7b3c;
}

@media only screen and (max-width: 1130px) {
  .page__content {
    background-image: url(../../img/usta2.png);
    height: 687px;
    background-size: cover;
  }
  .page__title {
    font-size: 56px;
  }
  .page__text {
    font-size: 18px;
    text-align: center;
  }
  .page__btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 949px) {
  .page__content {
    background-image: url(../../img/usta3.png);
    height: 687px;
    max-width: 1000px;
    background-size: cover;
  }
}

@media only screen and (max-width: 355px) {
  .page__content {
    max-width: 351px;
    background-image: url(../../img/usta4.png);
    height: 495px;
  }
}

@media only screen and (max-width: 340px) {
  .page__title {
    font-size: 28px;
  }
  .page__text {
    font-size: 16px;
  }
  .page__btn {
    font-size: 16px;
  }
}

.font__title {
  color: #282b22;
  font-family: Raleway;
  font-size: 46px;
  font-weight: 600;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 80px;
}

.font__img {
  max-width: 354px;
}

.font__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.font__stron {
  color: #282b22;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 600;
  opacity: 0.5;
}

.font__titlee {
  color: #3d4a39;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1067px) {
  .font__item {
    max-width: 800px;
  }
  .font__img {
    min-width: 280px;
  }
}

@media screen and (max-width: 684px) {
  .font__list {
    text-align: center;
  }
  .font__item {
    margin-left: auto;
    margin-right: auto;
  }
}

.outline__img {
  width: 66px;
  height: 66px;
}

.outline__section {
  background-color: #3D4A39;
  text-align: center;
  padding: 100px 0;
}

.outline__title {
  /* заголовок_H2 */
  color: white;
  font-family: Raleway;
  font-size: 46px;
  font-weight: 600;
  line-height: 125%;
  text-transform: uppercase;
}

.outline__list {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.outline__item {
  width: 400px;
  height: 130px;
  text-align: center;
}

.outline__text {
  color: white;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 500;
  opacity: 0.5;
}

@media only screen and (max-width: 817px) {
  .outline__item {
    max-width: 790px;
  }
}

@media only screen and (max-width: 376px) {
  .outline__item {
    max-width: 354px;
  }
}

.ringo__section {
  text-align: start;
}

.ringo__sectionn::before {
  content: "";
  width: 160px;
  height: 200px;
  background-image: url(../../img/xona2.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 40px;
  background-position: -21px -18px;
}

.ringo__tit {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ringo__tit2 {
  text-align: end;
}

.ringo__tit2::after {
  content: "";
  width: 160px;
  height: 200px;
  background-image: url(../../img/xona2.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 40px;
  background-position: -20px -8px;
}

.ringo__title {
  color: #282b22;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 600;
  line-height: 130%;
  text-align: center;
}

.ringo__text {
  color: #282b22;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.ringo__textt {
  color: #282b22;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
}

.ringo__texxt {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 912px) {
  .ringo__sectionn {
    display: none;
  }
  .ringo__tit2 {
    display: none;
  }
  .ringo__title {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 907px) {
  .ringo__section {
    max-width: 899px;
  }
}

@media only screen and (max-width: 759px) {
  .ringo__section {
    max-width: 695px;
  }
}

@media only screen and (max-width: 640px) {
  .ringo__section {
    max-width: 559px;
  }
  .ringo__texxt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .ringo__section {
    max-width: 352px;
  }
}

.ports__title {
  color: #282b22;
  font-family: Raleway;
  font-size: 46px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 60px;
}

.ports__img {
  width: 340px;
  height: 240px;
}

.ports__item {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ports__stronn {
  color: #ae7b3c;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.ports__tittlee {
  color: #ae7b3c;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.ports__stron {
  color: #282b22;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.3;
}

.ports__tittle {
  color: #282b22;
  font-family: Raleway;
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}

.ports__text {
  color: #282b22;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.8;
}

@media only screen and (max-width: 810px) {
  .ports__item {
    max-width: 743px;
  }
}

@media only screen and (max-width: 687px) {
  .ports__img {
    display: none;
  }
}

@media only screen and (max-width: 676px) {
  .ports__item {
    max-width: 532px;
  }
}

@media only screen and (max-width: 530px) {
  .ports {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 420px) {
  .ports {
    max-width: 350px;
  }
}

.terminal__section {
  background-color: #3d4a39;
  width: 800px;
  height: 696px;
  margin-top: 80px;
}

.terminal__img {
  width: 15.43px;
  height: 18px;
}

.terminal__img {
  width: 15px;
  height: 15px;
}

.terminal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-left: 90px;
}

.hr__igm {
  margin-bottom: 15px;
}

.terminal__btn {
  margin-left: 20px;
  color: white;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
  background-color: #ae7b3c;
  padding: 22px 58px;
  margin-left: 90px;
  margin-bottom: 20px;
}

.terminal__title {
  color: white;
  font-family: Raleway;
  font-size: 46px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0%;
  margin-left: 90px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.terminal__tit {
  color: white;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 145%;
  letter-spacing: 0%;
  margin-left: 90px;
  margin-top: 15px;
}

.terminal__text {
  color: white;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 145%;
  letter-spacing: 0%;
  margin-left: 90px;
  opacity: 0.5;
  margin-bottom: 15px;
  margin-top: 10px;
}

.terminal__texxt {
  color: white;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  margin-left: 90px;
}

.img__terminal {
  width: 800px;
  height: 696px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */