* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
}

.section__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.section__list {
  width: 692px;
  height: 21.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 80px;
  margin-bottom: 40px;
  margin-top: 60px;
}

.section__btn {
  width: 35px;
  height: 34px;
  background-image: url(../../img/ciziq.png);
  background-repeat: no-repeat;
  border: none;
  display: none;
}

.section__linkk {
  color: #282b22;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.section__link {
  color: #3d4a39;
  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.section__img {
  width: 122px;
}

.section__img1 {
  width: 22px;
}

.section__img2 {
  width: 10px;
}

@media only screen and (max-width: 928px) {
  .section__list {
    display: none;
  }
  .section__btn {
    display: inline-block;
  }
}

@media only screen and (max-width: 424px) {
  .section__pegi {
    width: 122px;
  }
}

.page__content {
  max-width: 1500px;
  height: 678px;
  background-image: url(../../img/usta.png);
  background-repeat: no-repeat;
  text-align: center;
}

.page__title {
  color: white;
  font-family: Lato;
  font-size: 56px;
  font-weight: 700px;
}

.page__text {
  color: white;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500px;
  opacity: 0.8;
  margin-bottom: 23px;
  margin-top: 20px;
}

.page__btn {
  color: white;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700px;
  border: none;
  padding: 17px 42px;
  background-color: #ae7b3c;
}

@media only screen and (max-width: 1130px) {
  .page__content {
    background-image: url(../../img/usta2.png);
    height: 687px;
  }
  .page__title {
    font-size: 56px;
  }
  .page__text {
    font-size: 18px;
  }
  .page__btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 949px) {
  .page__content {
    background-image: url(../../img/usta3.png);
    height: 687px;
  }
}

@media only screen and (max-width: 345px) {
  .page__content {
    background-image: url(../../img/usta4.png);
    height: 495px;
  }
}

@media only screen and (max-width: 317px) {
  .page__content {
    background-image: url(../../img/usta4.png);
    height: 495px;
  }
  .page__title {
    font-size: 28px;
  }
  .page__text {
    font-size: 16px;
  }
  .page__btn {
    font-size: 16px;
  }
}

.font__title {
  color: #282b22;
  font-family: Raleway;
  font-size: 46px;
  font-weight: 600;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 80px;
}

.font__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.font__stron {
  color: #282b22;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 600;
  opacity: 0.5;
}

.font__titlee {
  color: #3d4a39;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 30px;
}

.outline__list {
  background-color: #3D4A39;
  max-width: 1500px;
  height: 688px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}

.outline__title {
  color: white;
  font-family: Raleway;
  font-size: 46px;
  font-weight: 600;
  text-align: center;
}

.outline__text {
  color: white;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 500;
  opacity: 0.5;
}

.font__img {
  width: 66px;
  height: 66px;
}
/*# sourceMappingURL=main.css.map */