.edit__section{
  flex-wrap: wrap;
}
.eidt__div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50px;
}
.edit__title{
color: rgb(40, 43, 34);
font-family: Raleway;
font-size: 14px;
font-weight: 500;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
opacity: 0.5;
}
.edit__img{
  width: 130px;
height: 56.68px;
margin-top: 50px;
}
.edit__imf{
  width: 18.01px;
height: 18.04px;
}
.edit{
  width: 10px;
height: 20.57px;
}