.section__page{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.section__list{
  width: 692px;
  height: 21.5px;
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
  margin-bottom: 40px;
  margin-top: 60px;
}
.section__btn{
  width: 35px;
  height: 34px;
  background-image: url(../../img/ciziq.png);
  background-repeat: no-repeat;
  border: none;
  display: none;
}
.section__linkk{
color: rgb(40, 43, 34);
font-family: Raleway;
font-size: 16px;
font-weight: 500;
text-align: left;
}
.section__link{
color: rgb(61, 74, 57);
font-family: Lato;
font-size: 20px;
font-weight: 600;
text-align: left;
}
.section__img{
  width: 122px;
}
.section__img1{
  width: 22px;
}
.section__img2{
  width: 10px;
}





@media only screen and (max-width:928px) {
  .section__list{
    display: none;
    // max-width: 932px;
  }
  .section__btn{
    display: inline-block;
  }
  // .section__list{
  //   display: inline-block;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   flex-shrink: ;
  // }
}
@media only screen and (max-width:424px) {
  .section__pegi{
    width: 122px;
  }
}