.help__title{
color: rgb(40, 43, 34);
font-family: Raleway;
font-size: 46px;
font-weight: 600;
line-height: 125%;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
margin-top: 45px;
margin-bottom: 25px;
}
.help__div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.help__img{
  width: 152px;
  height: 48px;
}
.helpp__img{
  width:180px;
  height: 72px;
  opacity: 0.5;
}
.hellp__img{
  width: 156px;
  height: 45px;
  opacity: 0.5;
}
.help__immg{
  width: 135px;
  height: 45px;
  opacity: 0.5;
}