.problems__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.problems__title{
color: rgb(40, 43, 34);
font-family: Raleway;
font-size: 46px;
font-weight: 600;
line-height: 125%;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
margin-bottom: 55px;
margin-top: 55px;
}
.problems__stron{
color: rgb(61, 74, 57);
font-family: Raleway;
font-size: 24px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
margin-bottom: 40px;
}
.problems__tit{
color: rgb(40, 43, 34);
font-family: Raleway;
font-size: 18px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
margin-top: 18px;
margin-bottom: 15px;
}
.ports__text{
color: rgb(40, 43, 34);
font-family: Raleway;
font-size: 16px;
font-weight: 500;
line-height: 145%;
letter-spacing: 0%;
text-align: left;
opacity: 0.8;
}


@media only screen and (max-width:1203px) {
  .problems__list{
    max-width: 1000px;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width:801px) {
  .problems__list{
    max-width: 500px;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width:514px) {
  .problems__item{
    max-width: 455px;
  }
  .port__title{
    height: 45px;
  }
}
