.page__content{
  text-align: center;
  max-width: 1500px;
  height: 678px;
  background-image: url(../../img/usta.png);
  background-repeat: no-repeat;
  background-size:cover;
}
.page__title{
color: rgb(255, 255, 255);
font-family: Lato;
font-size: 56px;
font-weight: 700px;
}
.page__text{
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 18px;
font-weight: 500px;
opacity: 0.8;
margin-bottom: 23px;
margin-top: 20px;
}
.page__btn{
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 16px;
font-weight: 700px;
border: none;
padding: 17px 42px;
background-color: rgb(174, 123, 60);
}








@media only screen and (max-width:1130px) {
  .page__content{
    background-image: url(../../img/usta2.png);
    height: 687px;
    background-size:cover;
  }
  .page__title{
    font-size: 56px;
  }
  .page__text{
    font-size: 18px;
  }
  .page__btn{
    font-size: 16px;
  }
}
@media only screen and (max-width:949px) {
  .page__content{
    background-image: url(../../img/usta3.png);
    height: 687px;
    max-width: 1000px;
    background-size:cover
  }
}
@media only screen and (max-width:355px){
  .page__content{
    max-width: 351px;
    background-image: url(../../img/usta4.png);
    height: 495px;
  }
}
@media only screen and (max-width:340px) {
  .page__title{
    font-size: 28px;
  }
  .page__text{
    font-size: 16px;
  }
  .page__btn{
    font-size: 16px;
  }
}