.terminal__section{
  background-color:rgb(61, 74, 57) ;
  width: 700px;
  margin-top: 40px;
  padding-top: 95px;
  padding-bottom: 92px;
}
.sect__father{
  display: flex;
  align-items: center;
  text-align: center;

  
}
.terminal__img{
  width: 15.43px;
height: 18px;
}
.terminal__img{
  width: 15px;
  height: 15px;
}
.terminal{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 90px;
}
.hr__igm{
  margin-bottom: 15px;
}
.terminal__btn{
  margin-left: 20px;
  color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 16px;
font-weight: 700;
border: none;
background-color: rgb(174, 123, 60);
padding: 22px 58px;
margin-bottom: 20px;
}
.terminal__title{
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 46px;
font-weight: 600;
margin-left: 90px;
text-transform: uppercase;
margin-bottom: 20px;
}
.terminal__tit{
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 16px;
font-weight: 500;
margin-left: 90px;
margin-top: 15px;
}
.terminal__text{
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 16px;
font-weight: 500;
line-height: 145%;
opacity: 0.5;
margin-bottom: 15px;
margin-top: 10px;
}
.terminal__texxt{
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 12px;
font-weight: 500;
margin-left: 90px;
}
.img__terminal{
  max-width: 690px;
flex-shrink: 0;
margin-top: 40px;
  
}

@media screen and (max-width:1000px) {
  .img__terminal{
    max-width: 500px;

   
    
  
  }
  .terminal__section{
    width: 500px;
  }
}

@media screen and (max-width:926px) {
  .img__terminal{
    max-width: 500px;

   
    
  
  }
  .terminal__section{
    width: 400px;
    padding-top: 47px;
    padding-bottom: 47px;
  }
  .terminal__title,.terminal__tit,.terminal__text,.terminal,.terminal__btn,.terminal__texxt{
    margin-left: 0;
  }
}
@media screen and (max-width:720px) {

  .img__terminal{
  display: none;
   
  }
  
    .terminal__section{
    margin-left: auto;
    margin-right: auto;
    }
  }


